@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nohemi';
  src: url('/font/Nohemi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/font/Nohemi-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #252325;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252325;
    --foreground: #ffffff;
  }
}

*{
  cursor: none;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nohemi', Arial, Helvetica, sans-serif;
}

.heading{
  font-size: 70px;
  font-weight: bold;
}

.lightgray{
  color: #C3C3C3;
}
